{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 text-center">
            <div class="border bg-light p-5">
                <h2> Welcome To TechForge! </h2>
                <p> Browse your favourite PC's, laptops, gaming consoles, 
                    mobile devices, tablets, and accessories!</p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class ="border p-5 text-center">
                <div class="d-flex overflow-auto">
                <img src="{% static 'images/raptor.png'}" alt="Desktop PC" class="img-fluid mr-3">
                <img src="{% static 'images/gaming15laptop.png'}" alt="Laptop" class="img-fluid mr-3">
                <img src="{% static 'images/phone17.png'}" alt="Mobile Device" class="img-fluid mr-3">
                </div>  
                </div>
        </div>
        <div class="col-md-6">
            <div class="border p-5 text-center">
                 <img src="{% static 'images/10ltablet.png'%}"
                alt="Tablet"
                class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}