.all-products-overlay{
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background: white;
    z-index: -1; 
} 


.main-nav{
    background-color: #3b3b3b;
    padding:10px;
    margin-top:10px;
    text-align:center;
}

.main-nav a {
    color:white;
    text-decoration: none;
    font-size: 14px;
}

.main-nav :hover{
    background-color: lightgray;
}